.navigation {
    background-color: var(--bg-200);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    .navigation__list {
        margin: 0;
        padding: 5px 10px;
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
    }
}